@import url('./main-layout.css');
@import url('line-awesome/dist/line-awesome/css/line-awesome.min.css');    html {
      --lumo-base-color: rgb(242, 242, 242);
      --lumo-shade: rgb(107, 189, 153);
      --lumo-shade-5pct: rgba(107, 189, 153, 0.05);
      --lumo-shade-10pct: rgba(107, 189, 153, 0.1);
      --lumo-shade-20pct: rgba(107, 189, 153, 0.2);
      --lumo-shade-30pct: rgba(107, 189, 153, 0.3);
      --lumo-shade-40pct: rgba(107, 189, 153, 0.4);
      --lumo-shade-50pct: rgba(107, 189, 153, 0.5);
      --lumo-shade-60pct: rgba(107, 189, 153, 0.6);
      --lumo-shade-70pct: rgba(107, 189, 153, 0.7);
      --lumo-shade-80pct: rgba(107, 189, 153, 0.8);
      --lumo-shade-90pct: rgba(107, 189, 153, 0.9);
      --lumo-primary-color: rgb(70, 160, 148);
      --lumo-primary-color-50pct: rgba(70, 160, 148, 0.5);
      --lumo-primary-color-10pct: rgba(70, 160, 148, 0.1);
      --lumo-body-text-color: rgb(174, 207, 164);

    }
